*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #52B788;
    font-family: "Roboto";
}

#container{
    width: 1227px ;
    margin: auto;
    height: 4500px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

#nav-bar{
    padding-top: 20px;
}

#nav-bar a{
    font-style: normal;
    letter-spacing: 10%;
    line-height: 35px;
    height:40px;
    text-align: center;
    text-decoration:none;
    color: black;
    width: 150px;
    font-family: "Bebas Neue" ;
}


#nav-bar a:hover{
    background-color: #327e5b;
    color: white;
}

#firstelem, .marge {
    float: left;
}

#firstelem{
    margin-left: 180px;
}

#lastelem{
    float: right;
    margin-right: 42.5px;
}

#logo{
    position: relative;
    width: 170px;
    height: 57px;
    top: 60px;
    left: 42.5px;
    background-image: url(img/logo_iut.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}



#banner{
    background-image: url(img/annexe/banniere.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    box-sizing: border-box;
    width: 1142px;
    height: 319px;
    margin: auto;
    margin-top: 100px;
    filter: drop-shadow(5px 5px 4px #52B788);
}




#text{
    margin-left: 42.5px;
    margin-right: 42.5px;
}

h1{

    margin-top: 30px;
}

h2{
    margin-left: 50px;
    margin-top: 30px;
}

p{
    margin-top: 20px;
}


footer{
    margin-top: 300px;
    width: 100%;
    height: 205px;
}


#logo-zone{
    float: left;
    margin-top: 50px;
    margin-left: 42.5px;
    width: 600px;
    height: 100px;
}



#facebook, #instagram{
    margin: auto;
    margin-top: 25px;
}

#google-maps{
    background-image: url(img/logo_googlemaps.png);
}

#facebook, #instagram, #google-maps{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}


#facebook{
    background-image: url(img/logo_facebook.jpg);
}


#instagram{
    background-image: url(img/logo_instagram.png);
}

#logo-zone a{
    margin-left: 71px;  
}




ol #marker{
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px #000000);
    display: block;
    counter-increment: increment;
    margin-top: 50px;
}

ol #marker::before{
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 42.5px;
    background-color: #52B788;
    color: white;
    font-size: 150%;
    margin-right: 5px;
    content: counter(increment) "";
    box-shadow: -3px 2px 2px grey;

}
ol .sous-marker{
    counter-increment: another_increment;
}

ol li{
    text-align: left;
    list-style-type: none;
    margin-top: 30px;
    font-size: 110%;
    font-weight: bold;
}



ol .sous-marker::before{
    padding-left: 9px;
    padding-right: 9px;
    background-color: #7F4F24;
    color: white;
    font-size: 150%;
    margin-right: 5px;
    border-radius: 20px;
    box-shadow: -3px 2px 2px grey;
    content: counter(another_increment) "";
}

#marker{
    font-size: 150%;
}
#text{   
    line-height: 50px;
    font-size: 120%;
    font-weight: 700;
}




#contact-zone{
    text-align: center;
    float: right;
    margin-top: 50px;
    margin-right: 60px;
    width: 300px;
    line-height: 25px;
    height: 100px;
    font-weight: bold;
}

#contact-zone a{
    font-size: 105%;
    font-weight: bold;
    color: black;
}

#border-right-marge{
    margin-left: 25px;
}


.pillar{
    position: relative;
    display: inline-block;
    width: 3px;
    height: 128px;
    background: #7F4F24;
}

#pillar1{
    top: 30px;
    left: -600px;
}


#pillar2{
    top: 30px;
    left: 540px;

}


#text a{
    color: black;
}
