/* Léandre Dessailly/Anthony Eluecque/Marina Flament/Samuel Caron */


/* Pour l'ensemble du document */

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #52B788;
    font-family: 'Roboto';
}


/* ----------------------------------------------------------------------------------- */


/* Définition de la taille du container */
#container{
    width: 1227px ;
    margin: auto;
    height: 1800px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ----------------------------------------------------------------------------------- */


/* Tout ce qui concerne le barre de navigation */
#nav-bar{
    padding-top: 20px;
}


#nav-bar a{
    font-style: normal;
    letter-spacing: 10%;
    line-height: 35px;
    height:40px;
    text-align: center;
    text-decoration:none;
    color: black;
    width: 150px;
    font-family: "Bebas Neue" ;
}

/* La couleur de l'arrière plan et de l'écriture change dès que la souris pas au dessus du bouton de navigation */
#nav-bar a:hover{
    background-color: #327e5b;
    color: white;
}

#firstelem, .marge {
    float: left;
}

#firstelem{
    margin-left: 180px;
}

#lastelem{
    float: right;
    margin-right: 42.5px;
}


/* ----------------------------------------------------------------------------------- */


/* Cela permet d'afficher le logo de l'IUT en haut à gauche de la page */
#logo{
    position: relative;
    width: 170px;
    height: 57px;
    top: 60px;
    left: 42.5px;
    background-image: url(img/logo_iut.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}


/* La bannière du site, une grande image juste en dessous de le barre de nav */
#banner{
    background-image: url(img/accueil/banniere.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position-y: -100px;
    
    box-sizing: border-box;
    width: 1142px;
    height: 319px;
    margin: auto;
    margin-top: 100px;
    filter: drop-shadow(5px 5px 4px #52B788);
}


/* ----------------------------------------------------------------------------------- */


/* Tout ce qui permet de faire les boutons "En savoir plus" et "Inscris-toi" */

#click-ensavoirplus{
    position: relative;
    display: flex;
    z-index: 99;
    top: -230px;
    left: 857px;
    height: 100px;
    width: 240px;

}

#click-inscription{
    position: relative;
    display: flex;
    z-index: 99;
    top: -260px;
    left: 857px;
    height: 100px;
    width: 240px;

}


#click-inscription a, #click-ensavoirplus a{

    letter-spacing: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-size: 115%;
    text-transform: uppercase;
    text-decoration: unset;
    color: white;
    font-family: "Roboto";
    font-weight: 1000
}

#click-inscription a{
    line-height: 50px;
}

#click-ensavoirplus a{
    line-height: 90px;
}

#click-inscription a::after, #click-ensavoirplus a::after{
    /* Fait une petite animation quand le souris passe sur les boutons */

    /* Un rectangle vert qui est en dessous de tout va venir se déplacer en font du rectangle des boutons */
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(143, 255, 194, 0.5);
    top: 0;
    left: 0;
    z-index:-1;
    transform: translateX(-240px);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

}

#click-inscription a:hover::after, #click-ensavoirplus a:hover::after{
    /* Retour a la normal une fois que la souris quitte la zone du bouton */
    transform: translateX(0);
}


/* ----------------------------------------------------------------------------------- */


/* TITRE */
#title{
    margin-top: -150px;
    margin-left: 42.5px;
}

#title h1{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: left;
}

#line{
    width: 93%;
    height: 1px;
    margin-left: 42.5px;
    margin-top: 25px;
    background-color: #7F4F24;
}


#title p{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}


/* ----------------------------------------------------------------------------------- */


/* Ce qui concerne la carte google maps */
.contain-elem{
    margin-left: 42.5px;
    margin-top: 40px;
}


/* ----------------------------------------------------------------------------------- */


/* La carte de la course */
#course-map{
    margin-left: 123px;
    display: inline-block;
    width: 500px;
    height: 350px;
    background-image: url(img/accueil/chemin.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /* rend l'image flou */
    filter: blur(2px);
}

#course-map:hover{
    /* enlève le flou quand on passe la souris dessus */
    filter: blur(0);
}


/* ----------------------------------------------------------------------------------- */


/* La zone qui contient le texte de la page */
#text{
    display: inline-block;
    width: 530px;
    height: 350px;
    margin-left: 42.5px;
    margin-top: 40px;
    background-color: white;
    filter: drop-shadow(1px 1px 1px black);
    line-height: 20px;
    overflow: hidden;


    border-left: 0 solid #52B788;
    transition: border-left 0.5s ease-in-out;
}

#text:hover{
    border-left: 12px solid #52B788;
}

#text p{
    width: 90%;
    margin: auto;
    line-height: 155%;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 800;
}

#text h2{
    text-align: center;
    margin-top: 20px;
    font-size: 200%;
    font-weight: 800;
}


/* ----------------------------------------------------------------------------------- */


/* Le bas de la page */
footer{
    margin-top: 50px;
    width: 100%;
    height: 205px;
}


#logo-zone{
    float: left;
    margin-top: 50px;
    margin-left: 42.5px;
    width: 600px;
    height: 100px;
}



#facebook, #instagram{
    margin: auto;
    margin-top: 25px;
}

#google-maps{
    background-image: url(img/logo_googlemaps.png);
}

#facebook, #instagram, #google-maps{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}


#facebook{
    background-image: url(img/logo_facebook.jpg);
}


#instagram{
    background-image: url(img/logo_instagram.png);
}

#logo-zone a{
    margin-left: 71px;  
}


#contact-zone{
    text-align: center;
    float: right;
    margin-top: 40px;
    margin-right: 60px;
    width: 300px;
    line-height: 25px;
    height: 100px;
    font-weight: bold;
}

#contact-zone a{
    font-size: 105%;
    font-weight: bold;
    color: black;
}

#border-right-marge{
    margin-left: 25px;
}


/* ----------------------------------------------------------------------------------- */


/* Permet de définir les lignes qui entoure le footer */
.pillar{
    position: relative;
    display: inline-block;
    width: 3px;
    height: 128px;
    background: #7F4F24;
}

#pillar1{
    top: 30px;
    left: -600px;
}


#pillar2{
    top: 30px;
    left: 540px;

}