*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #52B788;
    font-family: "Roboto";
}

#container{
    width: 1227px ; 
    margin: auto;
    height: 1950px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    filter: drop-shadow(2px 2px 2px brown);
}

#nav-bar{
    padding-top: 20px;
}

#nav-bar a{
    font-style: normal;
    letter-spacing: 10%;
    line-height: 35px;
    height:40px;
    text-align: center;
    text-decoration:none;
    color: black;
    width: 150px;
    font-family: "Bebas Neue" ;
}

#nav-bar a:hover{
    background-color: #327e5b;
    color: white;
}

#firstelem, .marge {
    float: left;
}

#firstelem{
    margin-left: 180px;
}

#lastelem{
    float: right;
    margin-right: 42.5px;
}

#logo{
    position: relative;
    width: 170px;
    height: 57px;
    top: 60px;
    left: 42.5px;
    background-image: url(img/logo_iut.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}



#banner{
    background-image: url(img/reglement/banniere.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position-y: -175px;
    box-sizing: border-box;
    width: 1142px;
    height: 319px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    filter: drop-shadow(5px 5px 4px #52B788);
}

/*-------------------------------------------------------- */
/* code ajouté à partir d'ici */

#click-ensavoirplus{
    position: relative;
    display: flex;
    z-index: 99;
    top: -320px;
    left: 900px;
    height: 100px;
    width: 240px;
    /*background-color: rgba(143,255,194,.5); */
}

#click-inscription{
    position: relative;
    display: flex;
    z-index: 99;
    top: -360px;
    left: 900px;
    height: 100px;
    width: 240px;
    /*background-color: rgba(143,255,194,.5); */
}


#click-inscription a, #click-ensavoirplus a{

    font-family: 'Roboto';
    letter-spacing: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-size: 115%;

    text-transform: uppercase;
    text-decoration: unset;
    color: white;
    font-weight: bold;
}

#click-inscription a{
    line-height: 50px;
}

#click-ensavoirplus a{
    line-height: 90px;
}

#click-inscription a::after, #click-ensavoirplus a::after{
    /* permet l'animation*/
    
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(143, 255, 194, 0.5);
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-240px);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

}

#click-inscription a:hover::after, #click-ensavoirplus a:hover::after{
    transform: translateX(0);
}


/*-------------------------------------------------------- */




footer{
    margin-top: 60px;
    margin-bottom:60px;
    width: 100%;
    height: 205px;
}


#logo-zone{
    float: left;
    margin-top: 50px;
    margin-left: 42.5px;
    width: 600px;
    height: 100px;
}



#facebook, #instagram{
    margin: auto;
    margin-top: 25px;
}

#google-maps{
    background-image: url(img/logo_googlemaps.png);
}

#facebook, #instagram, #google-maps{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}


#facebook{
    background-image: url(img/logo_facebook.jpg);
}


#instagram{
    background-image: url(img/logo_instagram.png);
}

#logo-zone a{
    margin-left: 71px;  
}





#contact-zone{
    text-align: center;
    float: right;
    margin-top: 11px;
    margin-right: 60px;
    width: 300px;
    line-height: 25px;
    height: 100px;
    font-weight: bold;
}

#contact-zone a{
    font-size: 105%;
    font-weight: bold;
    color: black;
}

#border-right-marge{
    margin-left: 25px;
}


.pillar{
    position: relative;
    display: inline-block;
    width: 3px;
    height: 128px;
    background: #7F4F24;
}

#pillar1{
    top: 30px;
    left: -600px;
}


#pillar2{
    top: 30px;
    left: 540px;

}

/* -------------------------------------------------------------------------- */
/* modif à partir d'ici */


h1,h2,h3,h4,p {
    margin-left: 42.5px;
    margin-right: 42.5px;
}

#accroche{
    margin-top: -220px;
    margin-bottom:90px;
}

#accroche p{
    font-family: 'Roboto';
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}

#accroche::after{
    content:"";
    display: block;
    position: absolute;
    left: 42.5px;
    transform: scale(0);
    width: 33%;
    height: 2px;
    background-color: black;
    transition: transform 0.2s ease-in-out;
}

#accroche:hover::after{
    transform: scale(1);
}

p{
    text-align:center;
  margin-top: 20px;
  margin-bottom:20px;
}

h2,h3{
    text-decoration: underline;
}

h3{
    margin-top: 10px;
   margin-bottom:10px;
}

h4{
    margin-top: 20px;
}



h3,h4{
    font-weight:bold;
}


#prevention{
    margin-top:90px;
    border: 3px solid #7F4F24;
    margin-right: 42.5px;
    text-align:center;
    background-image: radial-gradient(circle, #582f0e, #633916, #6e431e, #794d26, #84582e, #8b6035, #91673c, #986f43, #9b764b, #9f7d53, #a2835b, #a68a64);
    padding: 10px;
    color: white;
    font-family: "Roboto";

    }

#bloc-text{
    margin-left: 42.5px;
    margin-right: 42.5px;
    margin-top:90px;
    margin-bottom: 90px;


    border-left: 0 solid #52B788;
    transition: border-left 0.5s ease-in-out,transform 0.5s ease-in-out;

    }


#bloc-text:hover{
    border-left: 12px solid #52B788;
    transform: scale(1.06);
}

#reglement-fin{
    background-image: url(img/reglement/image2.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position-y: -175px;
    box-sizing: border-box;
    width: 1142px;
    height: 319px;
    margin: auto;
    margin-top: 90px;
    filter: drop-shadow(5px 5px 4px #52B788);
} 


